@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

html, body {
  background: #000000;
  font-family: "Roboto", helvetica, arial, sans-serif;
}

input[type="button"]:focus {
  outline: none;
}