/* Cart Styles */

$cart-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
$transition-duration: 0.3s;
$hover-transform: translateY(-0.25em);
$hover-shadow: 0 3px #000000;

#cartTable {
  height: 300px;
  width: 450px;
  margin-left: 50px;
  margin-top: 16px;
  padding: 10px;
  padding-right: 25px;

  color: #000000;
  font-size: 1.2em;
  background: #f4f7f8;
  border: 5px solid #f4f7f8;
  border-radius: 10px;

  -webkit-box-shadow: $cart-shadow;
  -moz-box-shadow: $cart-shadow;
  -o-box-shadow: $cart-shadow;
  -ms-box-shadow: $cart-shadow;
  box-shadow: $cart-shadow;
}

#cartTable p {
  font-weight: bold;
  font-style: italic;
}

#cartTable span {
  float: right;
}

#orderSubmit {
  position: relative;
  padding: 20px 20px 20px 20px;


  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  background: #42ab9e;
  border: none;
  border-radius: 8px;

  transition-duration: $transition-duration;
  -webkit-transition-duration: $transition-duration;
  -moz-transition-duration: $transition-duration;
  -o-transition-duration: $transition-duration;
  -ms-transition-duration: $transition-duration;

  &:hover,
  &:focus {
    background: #389c90;

    -webkit-transform: $hover-transform;
    -moz-transform: $hover-transform;
    -o-transform: $hover-transform;
    -ms-transform: $hover-transform;
    transform: $hover-transform;

    -webkit-box-shadow: $hover-shadow;
    -moz-box-shadow: $hover-shadow;
    -o-box-shadow: $hover-shadow;
    -ms-box-shadow: $hover-shadow;
    box-shadow: $hover-shadow;
  }
}


#cartTable tbody {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
}

.col1 {
  max-width: 20ch;
  margin-right: 215px;
}

.col2 {
  max-width: 5ch;
  margin-right: 10px;
}

.row button {
  position: relative;
  padding: 5px 5px 5px 5px;
  
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background: #42ab9e;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;

  transition-duration: $transition-duration;
  -webkit-transition-duration: $transition-duration;
  -moz-transition-duration: $transition-duration;
  -o-transition-duration: $transition-duration;
  -ms-transition-duration: $transition-duration;

  &:hover,
  &:focus { 
    background: #389c90;

    -webkit-transform: $hover-transform;
    -moz-transform: $hover-transform;
    -o-transform: $hover-transform;
    -ms-transform: $hover-transform;
    transform: $hover-transform;

    -webkit-box-shadow: $hover-shadow;
    -moz-box-shadow: $hover-shadow;
    -o-box-shadow: $hover-shadow;
    -ms-box-shadow: $hover-shadow;
    box-shadow: $hover-shadow;
  }
}

.discount {
  color: red;
}

#orderSubmit {
  float: right;
}
