$form-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

$box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
$hover-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
$transition: 0.2s box-shadow ease-in-out, 0.2s background-color ease-in-out, 0.2s border-color ease-in-out;

#createForm {
  position: absolute;
  top: 30%;
  left: 37%;
  right: 0;

  background: white;
  border-radius: 3px;
  display: table-cell;
  vertical-align: middle;

  height: 300px;
  width: 500px;

  -webkit-box-shadow: $form-shadow;
  -moz-box-shadow: $form-shadow;
  -o-box-shadow: $form-shadow;
  -ms-box-shadow: $form-shadow;
  box-shadow: $form-shadow;
}

#createForm h2, h3 {
  text-align: center;
}

#createForm h3 {
  color: red;
  font-family: 'Cursive',
}

#createForm input {
  display: block;
  margin: 0 auto;
  color: #666B85;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  max-width: 100%;
}

#createForm button {
  display: block;
  margin: 0 auto;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.165em;
  background: #02b3e4;
  color: #fff;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;

  border: none;
  border-radius: 4px;
  padding: 1.2em 2em;
  margin-top: 25px;
  margin-bottom: 25px;

  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;

  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -o-box-shadow: $box-shadow;
  -ms-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

#createForm button:hover {
  cursor: pointer;
  background: #148bb1;
  box-shadow: $hover-shadow;
}
