@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);


$logout-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

* {
  font-family: "Roboto", helvetica, arial, sans-serif;
}

#homeHeader {
  height: 25px;
  width: 100%;
  display: inline-block;
  position: fixed;
  z-index: 2;
  padding-bottom: 25px;

  background: #42AB9E;
  color: #fff;
  // overflow: hidden;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#homeHeader h1 {
  display: inline;
}

#homeHeader form {
  display: inline;
  position: relative;
}

#searchForm button {
  position: absolute;
  top: -10;
  right: 0;
}

#homeHeader div {
  float: right;
}

#homeLogin {
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;

  color: #fff;
  font-weight: 500;
  line-height: 48px;
  background: #42AB9E;
  border: 0px solid rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
}

#homeCreate {
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;

  color: #fff;
  font-weight: 500;
  line-height: 48px;
  background: #42AB9E;
  border: 0px solid rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
}

#buttonContainer button:hover {
  background: #389c90;
  cursor: pointer;
}

#title {
  height: 1.5em;
  width: 1.5em;
  margin-top: 0px;


  font-family: 'Permanent Marker', sans-serif;
  font-size: 32px;
  color: white;
  font-weight: bold;
  font-style: italic;
  background-color: black;
  text-align: center;
  border: 0px;
  border-radius: 50%;
  padding: 5px;

  -webkit-box-shadow: 0px 0px 0px 0.14em #d3d3d3;
  -moz-box-shadow: 0px 0px 0px 0.14em #d3d3d3;
  -o-box-shadow: 0px 0px 0px 0.14em #d3d3d3;
  -ms-box-shadow: 0px 0px 0px 0.14em #d3d3d3;
  box-shadow: 0px 0px 0px 0.14em #d3d3d3;
}

h1#title:hover {
  text-shadow: 0 0 20px #ffffff;
  cursor: pointer;
}

form#searchForm {
  margin: 0;
  width: 100px;
  margin-right: 0px;
  padding-left: 32%;
}

#searchForm button {
  height: 38px;
  margin-left: 5px;

  font-size: 18px;
  font-weight: bold;
  color: white;
  background: #42AB9E;
  border: 1px solid #42AB9E;
  border-radius: 3px;
}

#searchForm button, #searchForm input {
  display: inline;
}

#searchForm input {
  width: 400px;

  font-size: 18px;
  line-height: 32px;
  margin-bottom: 5px;
}

#searchForm button:hover {
  background: #389c90;
  cursor: pointer;
}

#searchForm input:focus {
  outline: none;
}

#logout-dropdown-content {
  display: none;
  position: absolute;
  padding: 2px 2px;
  z-index: 1;

  background-color: #f9f9f9;
  
  // -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  // -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  // -o-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  // -ms-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  -webkit-box-shadow: $logout-shadow;
  -moz-box-shadow: $logout-shadow;
  -o-box-shadow: $logout-shadow;
  -ms-box-shadow: $logout-shadow;
  box-shadow: $logout-shadow;
}

#logout-dropdown:hover #logout-dropdown-content {
  display: block;
  cursor: pointer;
}

#logout-dropdown-content a {
  display: block;
  padding: 2px 2px;
  
  color: black;
  text-decoration: none;
}

#logout-dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #000000
}

#logout-dropdown {
  margin-right: 50px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 48px;
  text-transform: uppercase;
  width: max-content;
  background: #42AB9E;
  border: 0px solid rgb(255, 255, 255);
}

#logout-dropdown div {
  min-width: 140px;
  max-width: 140px;
  width: auto;
  margin-left: -5px;
  text-indent: 5px;
}
