@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);


$logout-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

* {
  font-family: "Roboto", helvetica, arial, sans-serif;
}

#homeHeader {
  height: 25px;
  width: 100%;
  display: inline-block;
  position: fixed;
  z-index: 2;
  padding-bottom: 25px;

  background-color: #fff;
  color: #fff;
  overflow: hidden;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#homeHeader h1 {
  display: inline;
}

#homeHeader form {
  display: inline;
  position: relative;
}

#searchForm button {
  position: absolute;
  top: -10;
  right: 0;
}

#homeHeader div {
  float: right;
}

#homeLogin {
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;

  color: #fff;
  font-weight: 500;
  line-height: 49px;
  background: #42AB9E;
  border: 0px solid rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
}

#homeCreate {
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;

  color: #fff;
  font-weight: 500;
  line-height: 49px;
  background: #42AB9E;
  border: 0px solid rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
}

#buttonContainer button:hover {
  background: #389c90;
  cursor: pointer;
}

#title {
  height: 1.5em;
  width: 1.5em;
  margin-top: 0px;


  font-family: 'Raleway';
  font-size: 36px;
  color: white;
  font-weight: bold;
  font-style: italic;
  background-color: black;
  text-align: center;
  border: 5px solid #d3d3d3;
  border-radius: 50%;

  -webkit-box-shadow: 0px 0px 0px 0.14em #d3d3d3;
  -moz-box-shadow: 0px 0px 0px 0.14em #d3d3d3;
  -o-box-shadow: 0px 0px 0px 0.14em #d3d3d3;
  -ms-box-shadow: 0px 0px 0px 0.14em #d3d3d3;
  box-shadow: 0px 0px 0px 0.14em #d3d3d3;
}

h1:hover #title {
  background-color: red;

  -webkit-box-shadow: 0px 0px 0px 0.13em red;
  -moz-box-shadow: 0px 0px 0px 0.13em red;
  -o-box-shadow: 0px 0px 0px 0.13em red;
  -ms-box-shadow: 0px 0px 0px 0.13em red;
  box-shadow: 0px 0px 0px 0.13em red;
}

form#searchForm {
  margin: 0;
  width: 100px;
  margin-right: 0px;
  padding-left: 32%;
}

#searchForm button {
  height: 37px;
  margin-left: 5px;

  font-size: 18px;
  font-weight: bold;
  color: white;
  background: #42AB9E;
  border: 1px solid #42AB9E;
  border-radius: 3px;
}

#searchForm button, #searchForm input {
  display: inline;
}

#searchForm input {
  width: 400px;

  font-size: 18px;
  line-height: 32px;
}

#searchForm button:hover {
  background: #389c90;
  cursor: pointer;
}

#logout-dropdown-content {
  display: none;
  position: absolute;
  min-width: 50px;
  padding: 12px 16px;
  z-index: 1;


  background-color: #f9f9f9;

  -webkit-box-shadow: $logout-shadow;
  -moz-box-shadow: $logout-shadow;
  -o-box-shadow: $logout-shadow;
  -ms-box-shadow: $logout-shadow;
  box-shadow: $logout-shadow;
}

#logout-dropdown:hover #logout-dropdown-content {
  display: block;
  cursor: pointer;
}

#logout-dropdown-content a {
  display: block;
  padding: 12px 16px;
  
  color: black;
  text-decoration: none;
}

#logout-dropdown-content a:hover {
  color: #fff;
  background: #000000;
}

#logout-dropdown {
  margin-top: 15px;
  margin-bottom: 25px;
  margin-right: 50px;

  color: #0A122A;
}

#logout-dropdown span {
  text-decoration: underline;
}