#homeContainer {
  background: #1C2331;
}

#searchForm {
  padding-left: 7.5%;
}

#searchForm button {
  margin-left: 5px;
}

#homeHeader {
  margin: 0 auto;
  display: block;
}

#title {
  font-size: 28px;
  font-weight: bold;
  color: #3D9970;
}

#homeHeader p {
  color: #fff;
  float: right;
  margin: 2px;
}

#homeHeader button {
  font-size: 18px;
  background: #3D9970;
  border: 3px solid #3D9970;
  border-radius: 5px;
  float: right;
  margin: 2px;
}

#homeHeader button:hover {
  background: #2ECC40;
  border: 3px solid #2ECC40;
  border-radius: 5px;
  cursor: pointer;
}

#ad {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 44px;
  text-decoration: underline;
  color: white;
  margin-bottom: 20px;
}

#homeContainer:hover #ad {
  cursor: pointer;
}

#contentContainer {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin: 0 auto;
  width: 85%;
  display: flex;
  flex-flow: row nowrap;
}