@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Raleway');


#homeContainer {
  background: #f4f7f6;
}

#homeContainer:hover #ad {
  cursor: pointer;
}

#contentContainer {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  width: 85%;

  
  font-family: "Raleway", helvetica, arial, sans-serif;
  background: #f4f7f6;
  border-radius: 5px;
  padding-top: 40px;
}
