.listItem {
  display: inline-block;
  margin-right: 25px;
  color: #3D9970;
  font-weight: bold;

  border: 1px solid #d3d3d3;
  border-collapse: collapse;
  padding: 10px;
}

.listItem img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.listItem p {
  font-family: 'Cursive';
  text-align: center;
  max-width: 20ch;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listItem button {
  background: #3F729B;
  display: block;
  border: 3px solid #3F729B;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
}

.listItem button:hover {
  background: #90a4ae;
  border: 3px solid #90a4ae;
  border-radius: 5px;
}

.presalePrice {
  font-style: italic;
  text-decoration: line-through;
}

.salePrice {
  color: red;
}