#modal-button {
  float: right;

  font-size: 30px;
  background: rgb(255, 255, 255);
  border: none;
}

#modal-button:hover {
  cursor: pointer;
}

#modal-title {
  font-size: 32px;
  text-transform: uppercase;
}

#modal-description {
  margin-bottom: 50px;

  font-style: italic;
  font-size: 20px;
}

#modal-image {
  width: 350px;
  height: 350px;
  display: block;
  margin: auto;
  margin-bottom: 50px;

  border: 3px solid #000000;
  border-radius: 5px;
}

#modal-price {
  display: inline;
  
  font-size: 16px;
}

#itemButton {
  display: inline;
}