// .example-enter {
//   opacity: 0.01;
//   transition: opacity .5s linear;
// }

// .example-enter.example-enter-active {
//   opacity: 1;
// }

// .example-leave {
//   opacity: 1;
//   transition: opacity .5s linear;
// }

// .example-leave.example-leave-active {
//   opacity: 0.01;
// }

$slideshow-shadow: 10px 10px 5px #000000;

img {
  height: 400px;
  width: 800px;

  -webkit-box-shadow: $slideshow-shadow;
  -moz-box-shadow: $slideshow-shadow;
  -o-box-shadow: $slideshow-shadow;
  -ms-box-shadow: $slideshow-shadow;
  box-shadow: $slideshow-shadow;
}

#slide-container {
  padding-top: 25px;
  padding-bottom: 60px;

  background: rgb(32, 33, 33);
}

div#slide-container img {
  display: block;
  margin: auto;
}

div#description-wrapper {
  width: 35%;
  margin: 0 auto;

	text-align: center;
}

p#slide-text {
  position: absolute;
  top: 444;
  left: 551;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
	margin:0px;

  font-size: 30px;
  color:white;
  font-weight: 500;
  background-color: #000000;
  text-transform: uppercase;
  opacity: .8;
}